.user_page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__title_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    img {
      border-radius: 50%;
      border: 1px solid #888;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: left;
      .contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  &__posts_block {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}