.user_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  &__username {
    color: #646cff;
    font-weight: 600;
  }
  &__fullName {
    @media (max-width: 425px) {
      display: none;
    }
    color: #888;
  }
  &__avatar {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
}
