#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2 rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  padding-top: 150px;
}

.error_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
